.speech {
    font-family: monospace;
    font-size: 16px;
    color: black;
  }
  
  .direction {
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 14px;
    color: black;
    background-color: rgb(33, 120, 147);
  }
  
  .direction:hover {
    color: yellow;
    background-color: rgb(75, 30, 94);
  }
  
  .KNUT_BROVIK {
    color: rgb(74, 152, 32);
    font-size: 18px;
  }
  
  .KAIA {
    color: rgb(40, 65, 103);
    font-size: 18px;
  }

  .RAGNAR{
    color: rgb(80, 95, 13);
    font-size: 18px;
  }

  .actor_table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .actor_table th {
    background-color: #333333;
    color: white;
    border: 2px solid #333;
    padding: 10px;
    margin: 5px;
  }
  
  .actor_table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .actor_table tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
  }
  
  .actor_table td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  h5:hover {
    color: rgb(1, 6, 67);
    border: dotted 2px azure;
    text-shadow: 1px 1px 2px rgb(0, 255, 174), 0 0 1em rgb(196, 38, 93), 0 0 0.2em rgb(255, 0, 81);
  }