.speech {
    font-family: monospace;
    font-size: 16px;
    color: black;
  }
  
  .direction {
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 14px;
    color: black;
    background-color: rgb(30, 98, 92);
  }
  
  .direction:hover {
    color: yellow;
    background-color: rgb(75, 30, 94);
  }
  
  .KNUT_BROVIK {
    color: rgb(74, 152, 32);
    font-size: 18px;
  }
  
  .KAIA {
    color: rgb(40, 65, 103);
    font-size: 18px;
  }

  .RAGNAR{
    color: rgb(80, 95, 13);
    font-size: 18px;
  }